# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.DS_Store
/dist
/build
coverage/
.env.*
.idea/
.vscode/
*.log
*.tsbuildinfo

# Optional: OS and editor files
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
test.http
